* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.center {
    width: 1280px;
    margin: 0 auto;
    /*box-sizing: border-box; para o design responsivo*/
    background-color: grey;

}

.artigo {
    margin: 50px 30px 50px 30px;
}