* {
    margin: 0;
    padding: 0;
}


.header{
    width: 100%;
    min-width: 1280px;
    height: 200px;
    background-color: grey;
}


.article{
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    background-color: red;
}